<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Default200Uri" value="http://localhost"/>
    <add key="AzureDashboardServiceURL" value="http://www.microsoft.com/windowsazure/support/status/servicedashboardcontent.aspx"/>
    <add key="ContentFrom" value="File"/>
    <add key="TestFile" value="634693252954078410.txt"/>
    <add key="LastKnownRSSFeedCount" value="72"/>
  </appSettings>
</configuration>