@{
    ViewBag.Title = "jqPlot";
}
@section AddToHead{
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="~/Scripts/graph/jqPlot/excanvas.min.js"></script><![endif]-->
  <script language="javascript" type="text/javascript" src="~/Scripts/graph/jqPlot/jquery.min.js"></script>
  <script language="javascript" type="text/javascript" src="~/Scripts/graph/jqPlot/jquery.jqplot.min.js"></script>
  <script language="javascript" type="text/javascript" src="~/Scripts/graph/jqPlot/plugins/jqplot.pieRenderer.min.js"></script>
  <script language="javascript" type="text/javascript" src="~/Scripts/graph/jqPlot/plugins/jqplot.donutRenderer.min.js"></script>
  <script language="javascript" type="text/javascript" src="~/Scripts/graph/jqPlot/plugins/jqplot.json2.min.js"></script>
  <link rel="stylesheet" type="text/css" href="~/Scripts/graph/jqPlot/jquery.jqplot.min.css" />
  <link rel="stylesheet" type="text/css" href="examples.css" />

<script class="code" type="text/javascript">
    $(document).ready(function () {

            var data = [["Caching",10],["CDN",13],["Compute",56],["Service Bus",30],["SQL Data Sync",4],["SQL Database",33],["SQL Database Management Portal",12],["SQL Import/Export",2],["SQL Reporting",4],["Storage",34],["Windows Azure AD Access Control",11],["Windows Azure AD Access Control 2.0",4],["Windows Azure Management Portal",2],["Windows Azure Service Management",25]];

            var plot1 = jQuery.jqplot('chart2', [data], {
                seriesDefaults: {
                    // Make this a pie chart.
                    sliceMargin: 1,
                    renderer: jQuery.jqplot.PieRenderer,
                    rendererOptions: {
                        // Put data labels on the pie slices.
                        // By default, labels show the percentage of the slice.
                        showDataLabels: true
                    },
                },
                legend: { show: true, location: 'e' }});
    });
</script>

}

<h2>IssueGraph</h2>
<div id="chart2" style="height:500px; width:900px;"></div>

<!--[["Caching",10],["CDN",13],["Compute",56],["Service Bus",30],["SQL Data Sync",4],["SQL Database",33],["SQL Database Management Portal",12],["SQL Import/Export",2],["SQL Reporting",4],["Storage",34],["Windows Azure AD Access Control",11],["Windows Azure AD Access Control 2.0",4],["Windows Azure Management Portal",2],["Windows Azure Service Management",25]]-->

<h2>jqPlot</h2>
