@{
    ViewBag.Title = "HighChart";
}
@section AddToHead{
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="~/Scripts/graph/jqPlot/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="~/Scripts/graph/Highcharts-2.2.5/js/highcharts.js"></script>
    <script type="text/javascript" src="~/Scripts/graph/Highcharts-2.2.5/js/modules/exporting.js"></script>


<script class="code" type="text/javascript">
    $(document).ready(function () {

        $.getJSON('/FeedIssue/LocationIssueSummary/', function (jsondata) {

            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Azure Issues by Location'
                },
                tooltip: {
                    formatter: function () {
                        return this.point.name + ': ' + Math.round(this.percentage) + ' %';
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            formatter: function () {
                                return this.point.name + ': ' + Math.round(this.percentage) + ' %';
                            }
                        },
                        showInLegend: true,
                        enableMouseTracking : true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Locations',
                    data: jsondata
                }]
            });
        });
    });

</script>

}

<h2>LocationGraph</h2>
<select id="datagroup">
    <option value="ServiceName" selected>Service</option>
    <option value="LocationName">Location</option>
    <option value="IssueStatus">Status</option>
</select>
<select id="daterange">
    <option value="1day">1 day</option>
    <option value="7day" selected>7 days</option>
    <option value="14day">14days</option>
    <option value="30day">30days</option>
</select>
<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

