@{
    ViewBag.Title = "Download";
}

<h2>Download</h2>
<p>
<h3>Get Opml file</h3>
<a href="/FeedList/OPMLCached">Download current OPML file</a>. This will take a minute or two to build. Once you have saved the file, you can import the file into <a href="http://www.google.com/reader">Google Reader</a>. This will add all the Dashboard Service RSS feeds at a single time.     
</p>
<h3>Use Opml with Google Reader</h3>
<p>
From Google Reader, choose Settings.<br />
<img class="googlereadersettings" src="../../Content/themes/base/images/GoogleImportReaderSettings.PNG">
</p>
<p>
Select file and import.<br />
<img class="googlereaderimport" src="../../Content/themes/base/images/GoogleImport.PNG">

