@{
    ViewBag.Title = "Windows Azure Service Dashboard";
}
@section featured {
    <section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>

        <a href="/Home/Download/">Downloads</a>: OPML file<br />
        <!--<a href="/Home/FeedList/">Latest RSS Feed list</a> (sorted, paged) provided by jquery-tablesorter<br />-->
        <a href="/Feeds/Show/">Latest RSS Feed list</a> (sorted, paged, grouped) provided by jqGrid<br />
        <a href="/Issues/Show/">Latest RSS Issue list</a> (sorted, paged, grouped) provided by jqGrid<br />
        </p>
    </div>
</section>
}
