@model AzureDashboardService.Models.DashboardModel
@{
    ViewBag.Title = "Windows Azure Service Dashboard";
}
@if (Model.IsDebug)
{
    <!--debug -->
}
@section featured {
    <section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>This Windows Azure Service Dashboard application consumes the 
        Azure Service Dashboard RSS Feeds and provides them to you. The code serving 
        this website is <a href="https://github.com/dfberry/WAZDashboard">free 
        and available for download at GitHub</a>. 
        </p>
        <p>

        <a href="/Home/Download/">Downloads</a>: OPML file<br />
        <a href="/Home/FeedList/">Latest RSS Feed list</a> (sorted, paged) provided by jquery-tablesorter<br />
        <a href="/Home/FeedListjqGrid/">Latest RSS Feed list</a> (sorted, paged, grouped) provided by jqGrid<br />
        </p>
    </div>
</section>
}
